<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mono.Cecil" publicKeyToken="50cebf1cceb9d05e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.11.4.0" newVersion="0.11.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures.Datatype" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2025.0.0.0" newVersion="2025.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2025.0.0.0" newVersion="2025.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Akit5" publicKeyToken="a70cba4ef557ee03" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.15.0.0" newVersion="5.15.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Trimble.Remoting" publicKeyToken="a70cba4ef557ee03" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures.Model" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2025.0.0.0" newVersion="2025.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures.Plugins" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2025.0.0.0" newVersion="2025.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Trimble.Technology.MsgLib" publicKeyToken="a70cba4ef557ee03" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.22326" newVersion="2.2.0.22326" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures.Catalogs" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2024.0.0.0" newVersion="2024.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Trimble.Package.Manager" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>